.side-bar
  .side-bar__header
    %h1
      = current_user.name
    = link_to "編集", edit_user_path(current_user)
  .side-bar__menu
    %p
      = link_to "P合計金額", calculations_path
    %p
      = link_to "スタッフ一覧", staffs_path
    %p
      = link_to "シャンパン", chanpagnes_path
    %p sample
